body{
    background-color: #222;
    color: white;
    font-family: Oswald;
    text-align: center;
}

h1, h2, h3{
    font-weight: 300;
}

.mr-2{
    margin-right: 10px !important;
}

.mt-2{
    margin-top: 10px !important;
}

.mb-2{
    margin-bottom: 10px !important;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}